* {
    margin: 0;
}

html, body {
    height: 100%;
}

.app {
    min-height: 90%;
}

.nav-block {
    padding: 0;
    margin: 0;
    width: 100%;
}

.navbar-nav {
    width: 100%;
}

.navbar-nav > li {
    text-align: center;
    width: 20%;
    display: inline-block;
}

.block {
    margin-top: 4vh;
    margin-bottom: 4vh;
    padding: 2vh;
    min-height: 60vh;
    height: auto;
    border: 1px solid darkblue;
    border-radius: 4px;
    width: 70%;
}

.success {
    background-color: limegreen;
}

footer {
    height: 10%;
}