<label for="param1">Param 1:</label><br/>
<input class="form-control" id="param1" value="{{getValue(1)}}" disabled/>
<br/><label for="param2">Param 2:</label><br/>
<input class="form-control" id="param2" value="{{getValue(2)}}" disabled/>
<br/><label for="param3">Param 3:</label><br/>
<input class="form-control" id="param3" value="{{getValue(3)}}" disabled/>
<br/><label for="param4">Param 4:</label><br/>
<input class="form-control" id="param4" value="{{getValue(4)}}" disabled/>
<br/>

<a (click)="clear()" role="button" class="btn btn-success center-block">Retry</a>
