<label for="param1a">Param 1:</label><br/>
<input class="form-control" id="param1a" value="{{getValue('param1a')}}" disabled/>

<label for="param1b">Param 1b:</label><br/>
<input class="form-control" id="param1b" value="{{getValue('param1b')}}" disabled/>

<br/><label for="param2">Param 2:</label><br/>
<input class="form-control" id="param2" value="{{getValue('param2')}}" disabled/>

<br/><label for="param3">Param 3:</label><br/>
<input class="form-control" id="param3" value="{{getValue('param3')}}" disabled/>

<br/><label for="param4">Param 4:</label><br/>
<input class="form-control" id="param4" value="{{getValue('param4')}}" disabled/>

<br/>
<a (click)="clear()" role="button" class="btn btn-success center-block">Retry</a>