<label>Param 1:</label><br/>
<input class="form-control" name="param1" value="{{get_value('param1')}}" disabled/>
<br/><label>Param 2:</label><br/>
<input class="form-control" name="param2" value="{{get_value('param2')}}" disabled/>
<br/><label>Param 3:</label><br/>
<input class="form-control" name="param3" value="{{get_value('param3')}}" disabled/>
<br/><label>Param 4:</label><br/>
<input class="form-control" name="param4" value="{{get_value('param4')}}" disabled/>
<br/>

<a href="/" (click)="clear()" role="button" class="btn btn-success center-block">Retry</a>
