<form #form="ngForm" (submit)="$event.preventDefault(); goNext(1)">
    <div class="form-group">
        <label for="param1a">Param 1a:</label><br/>
        <input class="form-control" name="param1a" id="param1a" ngModel="{{getValue('param1a')}}" required>

        <label for="param1b">Param 1b:</label><br/>
        <input class="form-control" name="param1b" id="param1b" ngModel="{{getValue('param1b')}}" required>
    </div>

    <a role="button" class="btn disabled"><< Prev</a>
    <input type="submit" class="btn btn-success" value="Next >>"/>
</form>