<ul class="nav nav-pills nav-justified thumbnail">
    <ng-template ngFor let-i [ngForOf]="[0, 1, 2, 3, 4]">
        <li id="li{{i}}" [class.active]="urlEquals(i)" [class.disabled]="i != 0 && !hasValue(i)"
            [class.bg-success]="hasValue(i + 1) || i == steps.length - 1 && hasValue(i)" title="Step {{i + 1}}">

            <a (click)="i != 0 && !hasValue(i) || go(i)">
                <div *ngIf="i < steps.length - 1; else finalBlock">
                    <div *ngIf="hasValue(i + 1); else elseBlock">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-check-circle fa-stack-2x"></i>
                        </span>
                    </div>
                </div>
            </a>

            <ng-template #elseBlock>
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                    <strong class="fa-stack-lg">{{i + 1}}</strong>
                </span>
            </ng-template>

        </li>
    </ng-template>

    <ng-template #finalBlock>
         <span class="fa-stack fa-lg">
             <i class="fa fa-circle-o fa-stack-2x"></i>
         </span>
    </ng-template>
</ul>
